# External dependencies
/extern/*
!/extern/.keep

# Manual build dirs
/build
/lb
/tmp
/temp

# CMake
# **/CMakeCache.txt
# **/CMakeFiles/
# **/Makefile
# **/cmake_install.cmake
# **/compile_commands.json

# CLion
/.idea

# QtCreator
*.autosave
CMakeLists.txt.user*

# Emacs
*~
\#*\#
.\#*
/.projectile
/.dir-locals.el

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
tags

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Sketchup Stuff
AutoSave_*.skp
*.skb

# Let us push mesh .obj
!/assets/meshes/*.obj

# Ignore the textures
/assets/images
